{% load time_diff %}

<!--Needs comment-element-->
<div class='container ps-0 '>
    <div class='row mt-1'>
        <div class='col-auto mt-2'>
            <a href="{% url 'profile' account_id=comment_element.comment.account.id %}">
                <img src="{{ comment_element.comment.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="35" height="35">
            </a>
        </div>
        <div class='col ps-2' style='max-width: 450px;'>
            <div class='row'>
                <div class='col-auto rounded-4 p-2 bg-light-secondary' style="font-size: 15px; word-wrap: break-word;">
                    <p class='m-0 p-0 ps-1' style="word-wrap: break-word; line-height: 1.2">
                        <a class='name-link' href="{% url 'profile' account_id=comment_element.comment.account.id %}">
                            <b>{{ comment_element.comment.account.first_name }} {{ comment_element.comment.account.last_name }}</b> 
                        </a>
                        <span class='text-secondary'>@{{ comment_element.comment.account.username }}</span>
                        <br>{{ comment_element.comment.comment }}
                    </p>
                </div>
            </div>
            <div class='row ps-2 ' style='font-size: 14px'>
                <a type='button' href="{% url 'comment-like' comment_id=comment_element.comment.id %}" class='col-auto btn btn-light btn-sm border-0 rounded-3'>
                    {% if comment_element.liked %}
                        <i class="bi bi-heart-fill"></i>
                    {% else %}
                        <i class="bi bi-heart"></i>
                    {% endif %}

                    {% if comment_element.comment.likeCount > 0 %}
                        <span>{{ comment_element.comment.likeCount|custom_number_format }}</span>
                    {% endif %}
                </a>
                <span class='col text-secondary mt-1 ps-0 p-0'>· {{ comment_element.comment.commented_at|custom_time_format}}</span>
            </div>
        </div>
    </div>
</div>