{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <style>
            a{
                text-decoration: none;
            }
            a.name-link{
                color: black
            }
            a.name-link:hover{
                text-decoration: underline;
            }

            .bg-light{
                background-color: #FFFFFF !important;
            }
            .bg-light-secondary{
                background-color: #F0F2F5;
            }

            .btn-light{
                background-color: #FFFFFF !important;
            }
            .btn-light-secondary{
                background-color: #F0F2F5;
            }

            a.btn-light:hover{
                background-color: #F0F2F5 !important;
            }

        </style>
    </head>
    <body style='background-color: #F0F2F5'>

    <!-- Navbar -->
    {% if request.user.is_authenticated %}
        <nav class="navbar navbar-expand-lg sticky-top shadow-sm border" style="background-color: #ffffff;">
            <div class="container">
                <a class="navbar-brand text-dark" href="{% url 'home' %}">UnSocial</a>
                
                <!-- Search Bar -->
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item">
                        {% comment %} <form class="d-flex" role="search" method='GET' action="{% url 'all_products' %}"> {% endcomment %}
                        <form class="d-flex ps-5 ms-4" role="search" method='GET' action = "{% url 'search' %}">
                            <input class="form-control me-2 border-0 rounded-pill" type="search" name='search' placeholder="Search" aria-label="Search" style="width: 500px; background-color: #F0F2F5">
                            <button class="btn btn-outline-light visually-hidden" type="submit">Search</button>
                        </form>
                    </li>
                </ul>


                <!-- Toggle Button -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Right Side -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <!-- User Profile Icon -->
                        <li class="nav-item border-0 rounded-4 bg-light-secondary">
                            <div class="dropdown border-1 rounded-4">
                                <button class="btn btn-link dropdown-toggle rounded-circle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration:none; color:inherit;"  >
                                    <img src="{{ request.user.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="30" height="30">
                                    <span class='text-dark fw-semibold'>{{ request.user.first_name }}</span>
                                </button>
                                <ul class="dropdown-menu border-0 shadow-sm">
                                    <li><a class="dropdown-item" href="{% url 'profile' account_id=request.user.id %}">
                                        <i class="bi bi-person-fill me-2"></i>
                                        Profile
                                    </a></li>
                                    <li><a class="dropdown-item" href="">
                                        <i class="bi bi-gear-wide-connected me-2"></i>
                                        Settings
                                    </a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal" href="#">
                                        <i class="bi bi-power me-2"></i>
                                        Logout
                                    </a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg sticky-top shadow-sm border" style="background-color: #ffffff;">
            <div class="container">
                <a class="navbar-brand text-dark" href="{% url 'home' %}">UnSocial</a>
            </div>
        </nav>
    {% endif %}

    
    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Yes, Logout</button></a>
            </div>
        </div>
        </div>
    </div>

    <!-- Error Messages -->
    {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">{{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %} {% endcomment %}

    <!-- Contents -->
    <div class='container pt-3' style='width: 600px'>
        {% block content %}
        
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        // Javascript for hiding/unhiding share prompt box
        $(document).ready(function() {

            // Hide the sharePrompt initially
            $('.sharePrompt').hide();
            
            // Unhide and scroll to the sharePrompt when share button is clicked
            $('.shareBtn').click(function() {
                var sharePrompt = $(this).parents('.postContainer').siblings('.sharePrompt');

                sharePrompt.fadeIn(500);
                
                // Scroll to the sharePrompt div
                var scrollPos = sharePrompt.offset().top - $(window).height() / 2
                $('html, body').animate({
                    scrollTop: scrollPos
                }, 'fast');
            });

            // Hide the sharePrompt when cancel button is clicked
            $('.cancel-share').click(function() {
                $(this).closest('.sharePrompt').fadeOut('fast')
            });
        });

        // Javascript for showing the filename after select the photo/video for posting
        function selectFile(input, fileType) {

            // Showing file name after selecting
            var fileName = input.files[0].name;
            var fileNameElement = document.getElementById(fileType + "-file-name");
            fileNameElement.textContent = fileName;
            
            // Limiting to select only one file type
            if (fileType == 'photo'){
                $('#post-video').parents('label').hide();
                $('#photo-remove-btn').show()
            } else if (fileType == 'video'){
                $('#post-photo').parents('label').hide();
                $('#video-remove-btn').show()
            }

        }

        function removeFile(button, fileType) {
            if (fileType == 'photo') {
                var input = $('#post-photo');

                $('#post-video').parents('label').show();

            } else if (fileType == 'video') {
                var input = $('#post-video');

                $('#post-photo').parents('label').show();
            }

            input[0].value = null;
            var fileNameElement = document.getElementById(fileType + "-file-name");
            fileNameElement.textContent = null;
            $(button).hide();
        }

        // Restricts blank posts
        $('#post-input').on('input', function(e) {
            input = $(this);
            submitButton = $('#submit-button');

            if (input.val() == '') {
                submitButton.prop("disabled", true);
            } else {
                submitButton.prop('disabled', false);
            }
        });

        // Restricts blank comments
        $('.comment-input').on('input', function(e) {
            input = $(this);
            submitButton = $(input).siblings('.comment-button');

            if (input.val() == '') {
                submitButton.prop("disabled", true);
            } else {
                submitButton.prop('disabled', false);
            }
        });

        // Comment posting with AJAX
        $(document).ready(function() {
            $('.comment-form').submit(function(e) {

                // Prevents default behavior
                e.preventDefault();

                var form = $(this);
                var url = form.attr('action');
                var formData = new FormData(form[0]);

                console.log(formData, url)

                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        var commentContainer = form.siblings('.comment-container');
                        var newCommentHTML = response.comment_HTML

                        // prepend adds the new item at the top, append adds the item at the bottom
                        commentContainer.prepend(newCommentHTML);

                        form[0].reset();
                    }
                });

            });
        });

    </script>
  </body>
</html>