{% extends 'core/base.html' %}
{% load time_diff %}
{% block content %}

<div class='container'>

    <!--Post Prompt-->
    {% include 'core/elements/postPrompt.html' %}

    {% for element in post_element %}
    <div>
        <!--Share Post Prompt-->
        {% include 'core/elements/postSharePrompt.html' with element=element %}

        <!--Post Container-->
        {% include 'core/elements/postContainer.html' with element=element %}

    </div>
    {% endfor %}

</div>
{% endblock content %}

