{% extends 'core/base.html' %}

{% block content %}

<!--Post Prompt-->
<div class='container'>
    <form method="POST" action="{% url 'post' %}">
        {% csrf_token %}
        <div class="mb-3">
            <textarea class="form-control" name="post-text" rows="4" placeholder="Want to share something?" style="resize: none"></textarea>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill w-100">Post</button>
    </form>
</div>
<br>
<div class='container'>

    {% for element in post_element %}
            
        <div class='container border rounded bg-light p-3'>
            <!--Post-->
            <div>
                <b>@{{ element.post.account.username }}</b> - {{ element.post.posted_at|date:"d F" }}
                <br>
                {{ element.post.text|linebreaksbr }}
            </div>

            <hr class='mb-0'>

            <!--Interaction Buttons-->
            <div class='row mt-0'>
                <!--Like Button-->
                <a type='button' href="{% url 'like' post_id=element.post.id %}" class='col btn btn-light m-2 border-0 rounded-3'>
                    {% if element.liked %}
                        <i class="bi bi-heart-fill"></i>
                    {% else %}
                        <i class="bi bi-heart"></i>
                    {% endif %}
                    <span>{{ element.post.likeCount }}</span>
                </a>

                <!--Comment Button-->
                <a type='button' class='col btn btn-light m-2 border-0 rounded-3'>
                    <i class="bi bi-chat"></i>
                    <span>{{ element.post.commentCount }}</span>
                </a>

                <!--Share Button-->
                <a type='button' class='col btn btn-light m-2 border-0 rounded-3'>
                    <i class="bi bi-share"></i>
                </a>
            </div>

            <!--Comment Prompt-->
            <form method='POST' action="{% url 'comment' post_id=element.post.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="comment-text" class="form-control rounded-pill" placeholder="Enter Comment..." aria-describedby="button-addon2">
                    <div class='p-1'></div>
                    <button class="btn btn-outline-secondary rounded-pill" type="submit" id="button-addon2">Comment</button>
                </div>
            </form>

            <!--All comments-->
            <div>
                {% for comment in element.comments %}
                    <div class='container'>
                        <div class='col mt-3'>
                            <div class='row rounded-5 pt-3' style="background-color: #EEEEEE; word-wrap: break-word;">
                                <p><b>@{{ comment.account.username }}</b> - {{ comment.comment }}</p>
                            </div>
                            <div class='row mx-3'>
                                {{ comment.commented_at|date:"d F H:i" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>

    {% endfor %}

</div>
{% endblock content %}
