{% extends 'core/base.html' %}

{% block content %}

<div class='container'>

    <!--Post Prompt-->
    <div class='container border rounded-4 bg-light p-3 shadow-sm'>
        <form method="POST" action="{% url 'post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" name="post-text" rows="2" placeholder="Want to share something?" style="resize: none"></textarea>
            </div>
            <div class='row'>
                <label for="post-photo" class="col-auto">
                    <a class='btn btn-light border-0 rounded-3'>
                        <i class="bi bi-image"></i>
                        <input class='visually-hidden' id="post-photo" type='file' name='post-photo' accept='image/*' onchange="updateFileName(this, 'photo')">
                    </a>
                    <span id="photo-file-name"></span>
                </label>
                <label for="post-video" class="col">
                    <a class='btn btn-light border-0 rounded-3'>
                        <i class="bi bi-film"></i>
                        <input class='visually-hidden' id="post-video" type='file' name='post-video' accept="video/*" onchange="updateFileName(this, 'video')">
                    </a>
                    <span id="video-file-name"></span>
                </label>

                <button type="submit" class="btn btn-primary col rounded-pill w-100">Post</button>
            </div>
        </form>
    </div>

    <!--Javascript for showing the filename after select the photo/video for posting-->
    <script>
        function updateFileName(input, fileType) {
            var fileName = input.files[0].name;
            var fileNameElement = document.getElementById(fileType + "-file-name");
            fileNameElement.textContent = fileName;
        }
    </script>

    <br>

    {% for element in post_element %}
            
        <div class='container border rounded-4 bg-light p-3 shadow-sm'>
            <!--Post-->
            <div>
                <div class='row mb-2'>
                    <div class='col-auto'>
                        <img src="{{ element.post.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="40" height="40">
                    </div>
                    <div class='col ps-0'>
                        <span><b>{{ element.post.account.first_name }} {{ element.post.account.last_name }}</b> - {{ element.post.posted_at|date:"d F" }}</span>
                        <br>
                        <span class='text-secondary'>@{{ element.post.account.username }}</span>
                    </div>
                </div>
                <div>
                    <p style="word-wrap: break-word;">{{ element.post.text|linebreaksbr }}</p>
                </div>
                {% if element.post.photo %}
                    <img class='w-100 border-0 rounded-4' src='{{ element.post.photo.url }}'>
                {% endif %}
                {% if element.post.video %}
                    <video class='w-100 h-100 broder-0 rounded-4' controls>
                        <source src="{{ element.post.video.url }}" type="{{ element.post.video.content_type }}">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>

            <hr class='mb-0'>
            
            <!--Interaction Buttons-->
            <div class='row mt-0'>
                <!--Like Button-->
                <a type='button' href="{% url 'like' post_id=element.post.id %}" class='col btn btn-light m-2 border-0 rounded-3'>
                    {% if element.liked %}
                    <i class="bi bi-heart-fill"></i>
                    {% else %}
                    <i class="bi bi-heart"></i>
                    {% endif %}
                    <span>{{ element.post.likeCount }}</span>
                </a>
                
                <!--Comment Button-->
                <a type='button' class='col btn btn-light m-2 border-0 rounded-3'>
                    <i class="bi bi-chat"></i>
                    <span>{{ element.post.commentCount }}</span>
                </a>
                
                <!--Share Button-->
                <a type='button' class='col btn btn-light m-2 border-0 rounded-3'>
                    <i class="bi bi-share"></i>
                </a>
            </div>
            
            <hr class='mt-0'>

            <!--Comment Prompt-->
            <form method='POST' action="{% url 'comment' post_id=element.post.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="comment-text" class="form-control rounded-pill" placeholder="Enter Comment..." aria-describedby="button-addon2">
                    <div class='p-1'></div>
                    <button class="btn btn-outline-secondary rounded-pill" type="submit" id="button-addon2">Comment</button>
                </div>
            </form>

            <!--All comments-->
            <div>
                {% for comment in element.comments %}
                    <div class='container ps-0'>
                        <div class='row mt-3'>
                            <div class='col-auto mt-3'>
                                <img src="{{ comment.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="35" height="35">
                            </div>
                            <div class='col ps-2' style='max-width: 450px'>
                                <div class='row'>
                                    <div class='col-auto rounded-4 p-2' style="background-color: #EEEEEE; word-wrap: break-word;">
                                        <p class='m-0 p-0' style="word-wrap: break-word;"><b>{{ comment.account.first_name }} {{ comment.account.last_name }}</b>
                                            <br>{{ comment.comment }}</p>
                                    </div>
                                </div>
                                <div class='row ps-2'>
                                    {{ comment.commented_at|date:"d F H:i" }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>

    {% endfor %}

</div>
{% endblock content %}
