{% extends 'core/base.html' %}
{% load time_diff %}
{% block content %}

<div>
    <div class='container border rounded-4 bg-light p-0 mb-3 shadow-sm' >
        <!--Profile & Cover-->
        <div class='position-relative'>
            <img src="{{ account.cover_img.url }}" class='object-fit-cover rounded-top-4 w-100 p-0 m-0' height='200px'>
            <img src="{{ account.profile_img.url }}" class='object-fit-cover border border-3 border-light rounded-circle position-absolute mt-4 ms-3 top-50 start-0' height='120' width='120'>
        </div>
        <div class='p-3'>
            <!--Follow Button-->
            <div class='d-flex flex-row-reverse'>
                {% if account.id == request.user.id %}
                    <a class='btn btn-secondary rounded-pill border border-0'>Edit Profile</a>
                {% else %}
                    <form method='POST' action="{% url 'follow-button' %}">
                        {% csrf_token %}
                        <input type="hidden" name="account-id" value="{{ account.id }}">
                        <button type='submit' class='btn btn-primary rounded-pill border border-0'>
                            {% if following_info %}
                                <span class='fw-bold'>Unfollow</span>
                            {% else %}
                                <span class='fw-bold'>Follow</span>
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class='col pt-0 ms-3'>
                <!--Name-->
                <div class='row mb-2'>
                    <span class='row h5 mb-0 pb-0 fw-bold'>{{ account.first_name }} {{ account.last_name }}</span>
                    <span class='row text-secondary fs-6'>@{{ account.username }}</span>
                </div>
                <!--Bio-->
                <span class='row mb-2'>{{ account.bio }}</span>
                <!--About-->
                <div class='row text-secondary fw-medium gap-3 mb-2'>
                    {% if account.occupation %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-briefcase-fill"></i>
                            {{ account.occupation }}
                        </span>
                    {% endif %}
                    {% if account.relationshipStatus %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-person-heart"></i>
                            {% if account.relationshipStatus == account.SINGLE %}
                                Single
                            {% elif account.relationshipStatus == account.MINGLE %}
                                Mingle
                            {% elif account.relationshipStatus == account.MARRIED %}
                                Married
                            {% elif account.relationshipStatus == account.COMPLICATED %}
                                Complicated
                            {% endif %}
                        </span>
                    {% endif %}
                    {% if account.address %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-geo-alt-fill"></i>
                            {{ account.address }}
                        </span>
                    {% endif %}
                    <span class='col-auto p-0'>
                        <i class="bi bi-calendar-week"></i>
                        Joined {{ account.date_joined|date:"F Y" }}
                    </span>
                </div >
                <!--Follower-->
                <div class='row gap-3 mb-2'>
                    <span class='col-auto p-0'>
                        <span class='fw-bold'>{{ account.followerCount|custom_number_format }}</span>
                        <span class='text-secondary fw-medium'>Followers</span>
                    </span>
                    <span class='col-auto p-0'>
                        <span class='fw-bold'>{{ account.followingCount|custom_number_format }}</span>
                        <span class='text-secondary fw-medium'>Following</span>
                    </span>
                    <span class='col p-0'>
                        <span class='fw-bold'>{{ post_element|length }}</span>
                        <span class='text-secondary fw-medium'>Posts</span>
                    </span>
                </div>

                {% if following_info %}
                <div class='row'>
                    <span class='p-0 text-secondary' style='font-size: 13px'>Following since {{ following_info.0.followed_at|custom_time_format }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% for element in post_element %}
    <div>
        <!--Share Post Prompt-->
        <div class='sharePrompt'>
            <div class='container border rounded-4 bg-light p-3 pb-2 shadow-sm' >
                <form method="POST" action="{% url 'share-post' post_id=element.post.id %}">
                    {% csrf_token %}
                    <div class='row'>
                        <h6 class='col'>Share @{{ element.post.account.username }}'s post</h6>
                    </div>
                    <textarea class="form-control bg-light-secondary border-0 rounded-4 mb-2" name="share-text" rows="1" placeholder="Want to share something?" style="resize: none;"></textarea>
                    <div class='d-flex flex-row-reverse'>
                        <button type='submit' class='btn btn-sm mx-1 btn-primary rounded-pill'>Share</button>
                        <a class='btn btn-sm mx-1 btn-secondary rounded-pill cancel-share'>Cancel</a>
                    </div>
                </form>
            </div>

            <div class='d-flex justify-content-center'>
                <div class='vr m-2' style='height: 20px'></div>
            </div>
        </div>
        <!--Post Container-->
        <div class='container border rounded-4 bg-light p-3 pb-2 mb-3 shadow-sm postContainer'>

            <!--Post-->
            <div>

                <!--Heading-->
                <div class='row mb-2'>
                    <div class='col-auto'>
                        <a href="{% url 'profile' account_id=element.post.account.id %}">
                            <img src="{{ element.post.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="40" height="40">
                        </a>
                    </div>
                    <div class='col ps-0' style='line-height: 1.2'>
                        <span>
                            <a href="{% url 'profile' account_id=element.post.account.id %}"><b>{{ element.post.account.first_name }} {{ element.post.account.last_name }}</b></a>
                            <span class='text-secondary'> · {{ element.post.posted_at|custom_time_format}}</span>
                        </span>
                        <br>
                        <span class='text-secondary'>@{{ element.post.account.username }}</span>
                    </div>
                </div>

                <!--Post Paragraph-->
                <div class='mb-0 pb-0'>
                    <p style="word-wrap: break-word;">{{ element.post.text|linebreaksbr }}</p>
                </div>
                
                <!--Post Media-->
                <div>
                    {% if element.post.photo %}
                    <img class='w-100 border-0 rounded-4' src='{{ element.post.photo.url }}'>
                    {% endif %}
                    {% if element.post.video %}
                    <video class='w-100 h-100 broder-0 rounded-4' controls>
                        <source src="{{ element.post.video.url }}" type="{{ element.post.video.content_type }}">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                </div>
                
                <!--Shared Post-->
                {% if element.post.shared_post %}
                    <div class='container border rounded-4 p-3 pb-2 mb-3'>
                        <!--Heading-->
                        <div class='row mb-2'>
                            <div class='col-auto'>
                                <img src="{{ element.post.shared_post.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="40" height="40">
                            </div>
                            <div class='col ps-0' style='line-height: 1.2'>
                                <span>
                                    <a href="{% url 'profile' account_id=element.post.shared_post.account.id %}">
                                        <b>{{ element.post.shared_post.account.first_name }} {{ element.post.shared_post.account.last_name }}</b>
                                    </a>
                                    <span class='text-secondary'> · {{ element.post.shared_post.posted_at|custom_time_format}}</span>
                                </span>
                                <br>
                                <span class='text-secondary'>@{{ element.post.shared_post.account.username }}</span>
                            </div>
                        </div>
        
                        <!--Post Paragraph-->
                        <div class='mb-0 pb-0'>
                            <p style="word-wrap: break-word;">{{ element.post.shared_post.text|linebreaksbr }}</p>
                        </div>
                        
                        <!--Post Media-->
                        <div class='mb-1'>
                            {% if element.post.shared_post.photo %}
                            <img class='w-100 border-0 rounded-4' src='{{ element.post.shared_post.photo.url }}'>
                            {% endif %}
                            {% if element.post.shared_post.video %}
                            <video class='w-100 h-100 broder-0 rounded-4' controls>
                                <source src="{{ element.post.shared_post.video.url }}" type="{{ element.post.shared_post.video.content_type }}">
                                Your browser does not support the video tag.
                            </video>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <hr class='mb-0'>
            
            <!--Interaction Buttons-->
            <div class='row m-1'>
                <!--Like Button-->
                <a type='button' href="{% url 'like' post_id=element.post.id %}" class='col btn btn-light border-0 rounded-3'>
                    {% if element.liked %}
                        <i class="bi bi-heart-fill"></i>
                    {% else %}
                        <i class="bi bi-heart"></i>
                    {% endif %}

                    {% if element.post.likeCount > 0 %}
                        <span>{{ element.post.likeCount|custom_number_format }}</span>
                    {% endif %}
                </a>
                
                <!--Comment Button-->
                <a type='button' class='col btn btn-light border-0 rounded-3'>
                    <i class="bi bi-chat"></i>
                    {% if element.post.commentCount > 0 %}
                        <span>{{ element.post.commentCount|custom_number_format }}</span>
                    {% endif %}
                </a>
                
                <!--Share Button-->
                <a type='button' class='col btn btn-light border-0 rounded-3 shareBtn'>
                    <i class="bi bi-share"></i>
                    {% if element.post.shareCount > 0 %}
                        <span>{{ element.post.shareCount|custom_number_format }}</span>
                    {% endif %}
                </a>
            </div>
            
            <hr class='mt-0'>

            <!--Comment Prompt-->
            <form method='POST' action="{% url 'comment' post_id=element.post.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="comment-text" class="form-control rounded-pill border-0" placeholder="Enter Comment..." aria-describedby="button-addon2" style="background-color: #F0F2F5">
                    <div class='p-1'></div>
                    <button class="btn btn-outline-secondary border-0 rounded-pill" type="submit" id="button-addon2">
                        <i class="bi bi-send-fill"></i>
                    </button>
                </div>
            </form>

            <!--All comments-->
            <div>
                {% for comment_element in element.comment_element %}
                    <div class='container ps-0 '>
                        <div class='row mt-1'>
                            <div class='col-auto mt-2'>
                                <a href="{% url 'profile' account_id=comment_element.comment.account.id %}">
                                    <img src="{{ comment_element.comment.account.profile_img.url }}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="35" height="35">
                                </a>
                            </div>
                            <div class='col ps-2' style='max-width: 450px;'>
                                <div class='row'>
                                    <div class='col-auto rounded-4 p-2 bg-light-secondary' style="font-size: 15px; word-wrap: break-word;">
                                        <p class='m-0 p-0 ps-1' style="word-wrap: break-word; line-height: 1.2">
                                            <a href="{% url 'profile' account_id=comment_element.comment.account.id %}">
                                                <b>{{ comment_element.comment.account.first_name }} {{ comment_element.comment.account.last_name }}</b> 
                                            </a>
                                            <span class='text-secondary'>@{{ comment_element.comment.account.username }}</span>
                                            <br>{{ comment_element.comment.comment }}
                                        </p>
                                    </div>
                                </div>
                                <div class='row ps-2 ' style='font-size: 14px'>
                                    <a type='button' href="{% url 'comment-like' comment_id=comment_element.comment.id %}" class='col-auto btn btn-light btn-sm border-0 rounded-3'>
                                        {% if comment_element.liked %}
                                            <i class="bi bi-heart-fill"></i>
                                        {% else %}
                                            <i class="bi bi-heart"></i>
                                        {% endif %}

                                        {% if comment_element.comment.likeCount > 0 %}
                                            <span>{{ comment_element.comment.likeCount|custom_number_format }}</span>
                                        {% endif %}
                                    </a>
                                    <span class='col text-secondary mt-1 ps-0 p-0'>· {{ comment_element.comment.commented_at|custom_time_format}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<!--Javascript for hiding/unhiding share prompt box-->
<script>
    $(document).ready(function() {

        // Hide the sharePrompt initially
        $('.sharePrompt').hide();
        
        // Unhide and scroll to the sharePrompt when share button is clicked
        $('.shareBtn').click(function() {
            var sharePrompt = $(this).parents('.postContainer').siblings('.sharePrompt');
            console.log(sharePrompt)
            sharePrompt.fadeIn(500);
            
            // Scroll to the sharePrompt div
            var scrollPos = sharePrompt.offset().top - $(window).height() / 2
            $('html, body').animate({
                scrollTop: scrollPos
            }, 'fast');
        });

        // Hide the sharePrompt when cancel button is clicked
        $('.cancel-share').click(function() {
            $(this).closest('.sharePrompt').fadeOut('fast')
        });
    });
</script>

{% endblock content %}