{% extends 'core/base.html' %}
{% load time_diff %}
{% block content %}

<div>
    <!--Profile & Cover-->
    <div class='container border rounded-4 bg-light p-0 mb-3 shadow-sm' >
        <div class='position-relative'>
            <img src="{{ account.cover_img.url }}" class='object-fit-cover rounded-top-4 w-100 p-0 m-0' height='200px'>
            <img src="{{ account.profile_img.url }}" class='object-fit-cover border border-3 border-light rounded-circle position-absolute mt-4 ms-3 top-50 start-0' height='120' width='120'>
        </div>
        <div class='p-3'>
            <!--Follow Button-->
            <div class='d-flex flex-row-reverse'>
                {% if account.id == request.user.id %}
                    <a class='btn btn-secondary rounded-pill border border-0' href="{% url 'edit-profile' %}">Edit Profile</a>
                {% else %}
                    <form method='POST' action="{% url 'follow-button' %}">
                        {% csrf_token %}
                        <input type="hidden" name="account-id" value="{{ account.id }}">
                            {% if following_info %}
                                <button type='submit' class='btn btn-outline-danger rounded-pill border-danger border-2'>
                                    <span class='fw-bold'>Unfollow</span>
                                </button>
                            {% else %}
                                <button type='submit' class='btn btn-primary rounded-pill border border-0'>
                                    <span class='fw-bold'>Follow</span>
                                </button>
                            {% endif %}
                    </form>
                {% endif %}
            </div>
            <div class='col pt-0 ms-3'>
                <!--Name-->
                <div class='row mb-2'>
                    <span class='row h5 mb-0 pb-0 fw-bold'>{{ account.first_name }} {{ account.last_name }}</span>
                    <span class='row text-secondary fs-6'>@{{ account.username }}</span>
                </div>
                <!--Bio-->
                <span class='row mb-2'>{{ account.bio }}</span>
                <!--About-->
                <div class='row text-secondary fw-medium gap-3 mb-2'>
                    {% if account.occupation %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-briefcase-fill"></i>
                            {{ account.occupation }}
                        </span>
                    {% endif %}
                    {% if account.relationshipStatus %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-person-heart"></i>
                            {% if account.relationshipStatus == account.SINGLE %}
                                Single
                            {% elif account.relationshipStatus == account.MINGLE %}
                                Mingle
                            {% elif account.relationshipStatus == account.MARRIED %}
                                Married
                            {% elif account.relationshipStatus == account.COMPLICATED %}
                                Complicated
                            {% endif %}
                        </span>
                    {% endif %}
                    {% if account.address %}
                        <span class='col-auto p-0'>
                            <i class="bi bi-geo-alt-fill"></i>
                            {{ account.address }}
                        </span>
                    {% endif %}
                    <span class='col-auto p-0'>
                        <i class="bi bi-calendar-week"></i>
                        Joined {{ account.date_joined|date:"F Y" }}
                    </span>
                </div >
                <!--Follower-->
                <div class='row gap-3 mb-2'>
                    <span class='col-auto p-0'>
                        <span class='fw-bold'>{{ account.followerCount|custom_number_format }}</span>
                        <span class='text-secondary fw-medium'>Followers</span>
                    </span>
                    <span class='col-auto p-0'>
                        <span class='fw-bold'>{{ account.followingCount|custom_number_format }}</span>
                        <span class='text-secondary fw-medium'>Following</span>
                    </span>
                    <span class='col p-0'>
                        <span class='fw-bold'>{{ post_element|length }}</span>
                        <span class='text-secondary fw-medium'>Posts</span>
                    </span>
                </div>

                {% if following_info %}
                <div class='row'>
                    <span class='p-0 text-secondary' style='font-size: 13px'>Following since {{ following_info.0.followed_at|custom_time_format }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--Post Prompt-->
    {% if account == request.user %}
        {% include 'core/elements/postPrompt.html' %}
    {% endif %}

    <div id='all-post-container'>
    {% for element in post_element %}
        <div>

            <!--Post Container-->
            {% include 'core/elements/postContainer.html' with element=element %}

        </div>
    {% endfor %}
    </div>
</div>


{% endblock content %}